<li>
  <strong><a href="{{this.url}}">{{this.data.title}}</a></strong>
  <span>By {{this.data.author}} on <time datetime="{{this.date}}">{{moment this.date format="MMMM DD, YYYY"}}</time></span>
  <span>{{this.data.description}}</span>
  <a href="{{this.url}}" class="btn btn--primary">Continue Reading</a>
</li>